<nav class="navbar">
     <a class="navbar-brand" href="/">
          <img src="./images/logo.png" id="navLogo">
          <span id="navTitle">Your Friendly Neighborhood<br>Pet Adoption</span>
     </a>
     <form class="form-inline">
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" href="/">Home Page</button>
     </form>
</nav>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
