{{!-- Nav Bar --}}
<nav class="navbar">
     <a class="navbar-brand" href="/">
          <img src="./images/logo.png" id="navLogo">
          <span id="navTitle">Your Friendly Neighborhood<br>Pet Adoption</span>
     </a>
     <form class="form-inline">
          <button class="btn m-2 my-sm-0" type="button" id="searchPageBtn">Search Page</button>
          <button class="btn m-2 my-sm-0" type="button" id="logOutBtn">Log Out</button>
     </form>
</nav>

{{!-- Display for user name --}}
<div class="container-fluid">
     <div class="row my-3">
          <div class="col-md-12 text-center">
               <h2>Welcome --Place Holder For User Name--</h2>
          </div>
     </div>
</div>

{{!-- Container for displaying users/customers previous animal selections --}}
<div class="container-fluid">
     <h3>Pets Found:</h3>
     <ul id="chosenPetList" class="list-group">
          {{#each ChosenPets}}
          <li data-id="{{dataValues.id}}" class="list-group-item">
               <a href="{{dataValues.url}}" target="_blank">{{dataValues.petName}}</a>
               <button data-id="{{dataValues.id}}" class="btn btn-danger float-right deleteChosenPetBtn">Delete</button>
          </li>
          {{/each}}
     </ul>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/indexApiCalls.js"></script>
<script src="/js/indexOnClickHandlers.js"></script>
<script src="/js/index.js"></script>