<nav class="navbar navbar-light bg-light py-3">
     <a class="navbar-brand">Your Friendly Neighborhood Pet Adoption</a>
     <form class="form-inline">
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="searchPageBtn">Search Page</button>
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="logOutBtn">Log Out</button>
     </form>
</nav>