{{!-- Nav Bar --}}
<nav class="navbar">
     <a class="navbar-brand" href="/">
          <img src="./images/logo.png" id="navLogo">
          <span id="navTitle">Your Friendly Neighborhood<br>Pet Adoption</span>
     </a>
     <form class="form-inline">
          <button class="btn m-2 my-sm-0" type="button" id="searchPageBtn">Search Page</button>
          <button class="btn m-2 my-sm-0" type="button" id="logOutBtn">Log Out</button>
     </form>
</nav>

{{!-- Display for user name --}}
<div class="container-fluid">
     <div class="row my-3">
          <div class="col-md-12 text-center">
               <h2>Welcome --Place Holder For User Name--</h2>
          </div>
     </div>
</div>

<div id="favorited">
     <div id="hpCaro" class="carousel slide container" data-ride="carousel">
          
          <!-- The slideshow -->
          <div class="carousel-inner">

          </div>

          <!-- Indicators -->
          <ul class="carousel-indicators">
          </ul>

          <a class="carousel-control-prev" href="#hpCaro" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#hpCaro" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
               </a>

     {{!-- <div class="card">
          <div class="card-header">
               <h2>No Pets Favorited</h2>
          </div>
          <div class="card-body">
               <div class="row">
                    <div class="col-6 petPicture">
                         <img src="https://lh3.googleusercontent.com/proxy/9xGa9KdF-lBWAKWqeWvG3DXrb8zHqQX6NVOFpyyhdjrwRFXhxEGu6USIPRzISp0qlcx6zY6Hmn022DD4j10MW_u91t13Iu0vFs1xAbJ0AezNAoU1KHgUDzS3jawAmXCzOqPDhP-EUD-s">
                    </div>
                    <div class="col-6 petInfo">
                         <p>Search for pets and save your favorites <a href="/search">here.</a> </p>
                    </div>
               </div>

          </div>
     </div> --}}
</div>

<div class="container-fluid">
     <div class="row">
          <div class="col-12">
               <div id="favorites-card-container">
               </div>
          </div>
     </div>
</div>


{{!-- Container for displaying users/customers previous animal selections --}}
{{!-- <div class="container-fluid">
     <h3>Pets Found:</h3>
     <ul id="chosenPetList" class="list-group">
          {{#each ChosenPets}}
          <li data-id="{{dataValues.id}}" class="list-group-item">
               <a href="{{dataValues.url}}" target="_blank">{{dataValues.petName}}</a>
               <button data-id="{{dataValues.id}}" class="btn btn-danger float-right deleteChosenPetBtn">Delete</button>
          </li>
          {{/each}}
     </ul>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/indexApiCalls.js"></script>
<script src="/js/indexOnClickHandlers.js"></script>
<script src="/js/index.js"></script>

