{{!-- Navbar --}}
<nav class="navbar">
     <a class="navbar-brand" href="/">
          <img src="./images/logo.png" id="navLogo">
          <span id="navTitle">Your Friendly Neighborhood<br>Pet Adoption</span>
     </a>
     <form class="form-inline">
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="signUpBtn" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="logInBtn" data-toggle="modal" data-target="#logInModal">Log In</button>
     </form>
</nav>

{{!-- Modals for Logging In --}}
<div class="modal fade" id="logInModal">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
               <div class="modal-body">
                    <form>
                         <h2 class="text-center pb-3">Login In</h2>
                         <div class="form-group">
                              <label for="userName" style="font-weight: bold;">User Name</label>
                              <input type="text" class="form-control" id="userName">
                         </div>
                         <div class="form-group">
                              <label for="userPassword" style="font-weight: bold;">Password</label>
                              <input type="password" class="form-control" id="userPassword">
                         </div>
                         <button type="submit" class="btn btn-primary btn-block rounded" id="logInSubmitBtn" data-dismiss="modal">Log In</button>
                    </form>
               </div>
          </div>
     </div>
</div>

{{!-- Modals for Signing Up --}}
<div class="modal fade" id="signUpModal">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
               <div class="modal-body">
                    <h2 class="text-center py-3">Sign Up</h2>
                    <form>
                         <div class="form-row my-2">
                              <div class="col-md-6">
                                   <label for="userFirstName">First Name</label>
                                   <input type="text" class="form-control" id="userFirstName">
                              </div>
                              <div class="col-md-6">
                                   <label for="userLastName">Last Name</label>
                                   <input type="text" class="form-control" id="userLastName">
                              </div>
                         </div>
                         <div class="form-row my-2">
                              <div class="col-md-6">
                                   <label for="userName">User Name</label>
                                   <input type="text" class="form-control" id="userName">
                              </div>
                              <div class="col-md-6">
                                   <br>
                                   <p>You will use your user name to log in</p>
                              </div>
                         </div>
                         <div class="form-row my-2">
                              <div class="form-group col-md-6">
                                   <label for="userEmail">Email</label>
                                   <input type="email" class="form-control" id="userEmail">
                              </div>
                              <div class="form-group col-md-6">
                                   <label for="userZip">Zip Code</label>
                                   <input type="text" class="form-control" id="userZip">
                              </div>
                         </div>
                         <div class="form-row my-2">
                              <div class="form-group col-md-6">
                                   <label for="userPassword">Password</label>
                                   <input type="password" class="form-control" id="UserPassword">
                              </div>
                         </div>
                         <button type="submit" class="btn btn-primary" id="signUpSubmitBtn" data-dismiss="modal">Sign Up</button>
                    </form>
               </div>
          </div>
     </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/indexApiCalls.js"></script>
<script src="/js/indexOnClickHandlers.js"></script>
<script src="/js/index.js"></script>