{{!-- Navbar --}}
<nav class="navbar">
     <a class="navbar-brand" href="/">
          <img src="./images/logo.png" id="navLogo">
          <span id="navTitle">Your Friendly Neighborhood<br>Pet Adoption</span>
     </a>
     <form class="form-inline">
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="homePageBtn">Home Page</button>
          <button class="btn btn-outline-success m-2 my-sm-0" type="button" id="logOutBtn">Log Out</button>
     </form>
</nav>


{{!-- Carousel --}}
<div class="container-fluid" id="header-caro-container">
     <div class="container" id="header-container">
          <img src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
               id="header">
     </div>

     <div class="container" id="carousel-container">
          <div id="searchCaro" class="carousel slide container" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
               </div>

               <!-- Left and right controls -->
               <a class="caro-controls carousel-control-prev" href="#searchCaro" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
               </a>

               <a class="caro-controls carousel-control-next" href="#searchCaro" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
               </a>

          </div>
     </div>

</div>

{{!-- Survey/search --}}
<div class="container my-3 border border-secondary rounded-lg">
     <h5 class="text-center py-5">Please fill out the form below to find your perfect pet match</h5>
     <form class="pb-3">
          <div class="form-row my-2">
               <div class="col-md-6">
                    <label for="type">Pet Type</label>
                    <select class="custom-select custom-select-sm mb-2" id="type">
                         <option selected value=""></option>
                         <option value="dog">Dog</option>
                         <option value="cat">Cat</option>
                         <option value="small-furry">Small-Furry</option>
                         <option value="bird">Bird</option>
                         <option value="scales-fins-other">Scale, Fins, and Others</option>
                         <option value="barnyard">Barnyard</option>
                         <option value="rabbit">Rabbit</option>
                         <option value="horse">Horse</option>
                    </select>
               </div>
               <div class="col-md-6">
                    <label for="breed">Breed Type</label>
                    <input type="text" class="form-control" id="breed" placeholder="pug, parrot, etc">
               </div>
          </div>

          <div class="form-row my-2">
               <div class="col-md-6">
                    <label for="size">Pet Size</label>
                    <select class="custom-select custom-select-sm mb-2" id="size">
                         <option selected value=""></option>
                         <option value="small">Small</option>
                         <option value="medium">Medium</option>
                         <option value="large">Large</option>
                         <option value="extra-large">X-large</option>
                    </select>
               </div>
               <div class="col-md-6">
                    <label for="gender">Pet Gender</label>
                    <select class="custom-select custom-select-sm mb-2" id="gender">
                         <option selected value=""></option>
                         <option value="male">Male</option>
                         <option value="female">Female</option>
                         <option value="unknown">Unknown</option>
                    </select>
               </div>
          </div>
          <div class="form-row my-2">
               <div class="form-group col-md-6">
                    <label for="age">Pet Age</label>
                    <select class="custom-select custom-select-sm mb-2" id="age">
                         <option selected value=""></option>
                         <option value="baby">Baby</option>
                         <option value="young">Young</option>
                         <option value="adult">Adult</option>
                         <option value="senior">Senior</option>
                    </select>
               </div>
               <div class="form-group col-md-6">
                    <label for="coat">Type of Coat</label>
                    <select class="custom-select custom-select-sm mb-2" id="coat">
                         <option selected value=""></option>
                         <option value="short">Short</option>
                         <option value="medium">Medium</option>
                         <option value="long">Long</option>
                         <option value="wire">Wire</option>
                         <option value="hairless">Hairless</option>
                         <option value="curly">Curly</option>
                    </select>
               </div>
               <input type="text" id="city">
          </div>
          <button class="btn btn-primary" id="searchSubmitBtn" taken="false">Submit Search</button>
     </form>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/indexApiCalls.js"></script>
<script src="/js/indexOnClickHandlers.js"></script>
<script src="/js/index.js"></script>