{{!-- Navbar --}}

{{!-- Carousel --}}
<div id="searchCaro" class="carousel slide container" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
    </ul>            
    <!-- The slideshow -->
    <div class="carousel-inner">
    </div>
                
    <!-- Left and right controls -->
    <a class="caro-controls carousel-control-prev" href="#searchCaro" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
                
    <a class="caro-controls carousel-control-next" href="#searchCaro" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>    

{{!-- Survey/search --}}
<button class="btn btn-primary" id="surveyBtn">Take Survey</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>