/* 
Pink - #F78888
Yellow - #F3D250
Grey - #ECECEC
Light Blue - #90CCF4
Dark Blue - #5CA2D5
White - #ffffff
Black - #000000

font-family: 'Contrail One', cursive;
font-family: 'Lato', sans-serif;
*/

$primaryButton: #90CCF4;
$primaryButtonHover: #5CA2D5;
$buttonFont: black;
$secondaryButton: #F78888;
$secondaryButtonHover: #F3D250;
$mutedColor: #ECECEC;
$focusFont: 'Contrail One', cursive;
$secondaryFont: 'Lato', sans-serif;

a, form, p, span, select, button, h1, h3, h4, h5, h6 {
    font-family: $secondaryFont;
  }
  
  h2 {
    font-family: $focusFont;
  }
  
  body {
    background-color: $mutedColor;
  }
  
  .list-group-item {
    line-height: 2.5;
  }
  
  #header-caro-container {
    width: 100vw;
    height: 42vw;
    overflow: hidden;
    /* background-color: #ECECEC; */
    position: relative;
    #header-container {
        width: 80vw;
        color: black;
        #header {
            height: 40vw;
            /* position: absolute; */
            float: left;
            padding-left: 2vw;
          }
      }
  }

  nav {
    background-color: #ffffff;
    height: 8vw;
    position: relative;
    top: 0vw;
    border-top: none;
    width: 100%;
    margin-bottom: 0px;
    #navLogo {
        width: 12%;
        display: block;
        top: -1.7vw;
        position: absolute;
        z-index: 10;
      }
    #navTitle {
        font-family: 'Contrail One', cursive;
        position: relative;
        left: 11vw;
        color: #90CCF4;
        font-size: 2vw;
      }
  }
  
  .btn-primary, #logOutBtn, #logInBtn  {
    background-color: $primaryButton;
    border-color: $primaryButton;
    color: $buttonFont;
  }
  
  .btn-primary:hover, #logOutBtn:hover, #logInBtn:hover {
    background-color: $primaryButtonHover;
    border-color: $primaryButtonHover;
    color: $buttonFont;
  }
  
  #signUpBtn, #searchPageBtn, #homePageBtn {
    background-color: $secondaryButton;
  }
  
  #signUpBtn:hover, #searchPageBtn:hover, #homePageBtn:hover {
    background-color: $secondaryButtonHover;
  }
  
  h5.card-title {
    padding: 0px;
    margin: 0px;
  }
  
  .modal-body {
    font-family: $secondaryFont;
    font-size: 1.2em;
  }

  .modal-footer {
    .btn {
      background-color: $secondaryButton;
    }
    .btn:hover {
      background-color: $secondaryButtonHover;
    }
  }


  .carousel-inner {
    .heart {
        width: 5vw;
        margin: 0px;
        float: right;
      }
    .searchResultImg {
        max-height: 35vw;
        object-fit: contain;
        background-color: #ECECEC;
      }
  }
  
.petInfo {
    background-color: white;
    height: 34vw;
    overflow: auto;
    padding: 0px;
    margin-left: -15px; 
    margin-right: 15px;
    p {
        font-size: 2rem;
    }
    .heart {
        margin: 0px;
        padding: 0px;
        max-height: 5vw;
        position: absolute;
        bottom: 1vw;
        right: 0px;
      }
}
  
  label {
    margin-bottom: .5vw;
  }
  
  .form-control, .custom-select {
    height: 2.8vw;
  }
  
  #header-container {
    p {
        display: flex;
        font-family: 'Contrail One', cursive;
        font-size: 6vw;
        text-align: right;
        margin-top: 2vw;
      }
  }
    
  #searchCaro {
    .card-body {
        height: 7vw;
        overflow: auto;
      }
  }
  
  #favorited {
    .card {
        width: 80vw;
        margin: 0 auto;
        float: none;
      }
    .carousel {
        height: 40vw;
    }
    img {
        height: 35vw;
        margin: auto;
        padding: 0px;
        display: block;
        text-align: center;
      }
    .card-header {
        background-color: #F3D250;
        height: 5vw;
    }
  }
  
  .card {
    height: 40vw;
  }
  
  div.card-body {
    padding: 0px;
  }

  div.col-6.petPicture {
    padding: 0px;
  }
  
  #searchCaro.carousel {
    height: 35vw;
  }
  
  a.caro-controls, #carousel-container {
    display: none;
  }
  
  .carousel-indicators {
    z-index: 100;
  }
  
  .caro-img {
    text-align: center;
    display: block;
    max-height: 35vw;
  }
  
  /* Grid code adjusted from: https://css-tricks.com/seamless-responsive-photo-grid/ */
  #favorites-card-container {
    margin-top: 2vw;
    line-height: 1vw; 
    -webkit-column-count: 4;
    -webkit-column-gap:   1vw;
    -moz-column-count:    4;
    -moz-column-gap:      1vw;
    column-count:         4;
    column-gap:           1vw;  
  }
  
  #favorites-card-container img {
    /* Just in case there are inline attributes */
    width: 100%;
    height: auto;    
  }
  
  // #loginBanner {
  //   position: absolute;
  //   top: 0vw;
  //   width: 100vw;
  //   transform: scale(.8);
  //   z-index: -1;
  // }

  #loginContainer {
    height: 48vw;
    width: 80vw;
    // background-color: black;
    background-image: url("../images/loginBanner.jpg");
    background-repeat: none;
    background-size: cover;
    #loginText-1, #loginText-2 {
        font-family: 'Contrail One', cursive;
        padding-right: 1vw;
        text-align: right;
        // float: right;
        color: white; 
        z-index: 10; 
        font-size: 10vw;
        right: 1vw;
      }
      #loginText-1 {
        color: white; 
        margin-bottom: -30px;
        padding-bottom: 10px;
      }
      #loginText-2 {
        color: #F3D250;
        margin-top: 0px;
        padding-top: 0px;
      }
      p#loginText2 {
        width: 36vw;
        text-align: right;
        position: absolute;
        // bottom: 25vw;
        right: 1vw;
        font-size: 2vw;
        color: #ffffff;
      }
  }
  
  .petPicture {
    img {
        width: 100%;
      }
  }