/* 
Pink - #F78888
Yellow - #F3D250
Grey - #ECECEC
Light Blue - #90CCF4
Dark Blue - #5CA2D5
White - #ffffff
Black - #000000

font-family: 'Contrail One', cursive;
font-family: 'Lato', sans-serif;
*/

a, form, p, span, select, button, h1, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Contrail One', cursive;
}

nav {
  background-color: #ffffff;
  height: 8vw;
  position: relative;
  top: 0vw;
  border-top: none;
  width: 100%;
  margin-bottom: 0px;
}

#navLogo {
  width: 12%;
  display: block;
  top: -1.7vw;
  position: absolute;
  z-index: 10;

}

#navTitle {
  font-family: 'Contrail One', cursive;
  position: relative;
  left: 11vw;
  color: #90CCF4;
  font-size: 2vw;
}

.list-group-item {
  line-height: 2.5;
}

#header-caro-container {
  width: 100vw;
  height: 42vw;
  overflow: hidden;
  /* background-color: #ECECEC; */
  position: relative;
}

#header {
  height: 40vw;
  /* position: absolute; */
  float: left;
  padding-left: 2vw;
  
}

#header-container {
  width: 80vw;
  color: black;
}

.btn-primary, #logOutBtn, #logInBtn  {
  background-color: #90CCF4;
  border-color: #90CCF4;
  color: black;
}

.btn-primary:hover, #logOutBtn:hover, #logInBtn:hover {
  background-color: #5CA2D5;
  border-color: #5CA2D5;
  color: black;
}

#signUpBtn, #searchPageBtn, #homePageBtn {
  background-color: #F78888;
}

#signUpBtn:hover, #searchPageBtn:hover, #homePageBtn:hover {
  background-color: #F3D250;
}

body {
  background-color: #ECECEC;
}

h5.card-title {
  padding: 0px;
  margin: 0px;
}

.heart {
  width: 5vw;
  margin: 0px;
  float: right;
}

label {
  margin-bottom: .5vw;
}

.form-control, .custom-select {
  height: 2.8vw;
}

#header-container p {
  display: flex;
  font-family: 'Contrail One', cursive;
  font-size: 6vw;
  text-align: right;
  margin-top: 2vw;
}

#searchCaro .card-body {
  height: 7vw;
  overflow: auto;
}

#favorited.card {
  width: 80vw;
  margin: 0 auto;
  float: none;
}

#favorited.carousel, .card {
  height: 40vw;
}

div.card-body {
  padding: 0px;
}

#favorited .card-header {
  background-color: #F78888;
}


div.col-6.petPicture {
  padding: 0px;
}

.petInfo {
  background-color: white;
  overflow: auto;
  padding: 0px;
  margin-left: -15px; 
  margin-right: 15px;
}

#favorited img {
  margin: auto;
  padding: 0px;
  display: block;
  text-align: center;
}

#searchCaro.carousel {
  height: 35vw;
}

a.caro-controls, #carousel-container {
  display: none;
}

.carousel-indicators {
  z-index: 100;
}

.caro-img {
  text-align: center;
  display: block;
  max-height: 35vw;
}

button.choose {
  margin-left: 1vw;
}

.searchResultImg {
  max-height: 35vw;
  object-fit: contain;
  background-color: #ECECEC;
}

/* Grid code adjusted from: https://css-tricks.com/seamless-responsive-photo-grid/ */

#favorites-card-container {
    
  line-height: 0; 
  -webkit-column-count: 3;
  -webkit-column-gap:   0vw;
  -moz-column-count:    3;
  -moz-column-gap:      0vw;
  column-count:         3;
  column-gap:           0vw;  
}

#favorites-card-container img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;    
}


#loginBanner {
  position: absolute;
  top: 0vw;
  width: 100vw;
  transform: scale(.8);
  z-index: -1;
}



#loginText-1, #loginText-2 {
  font-family: 'Contrail One', cursive;
  padding-right: 10vw;
  text-align: right;
  color: white; 
  z-index: 10; 
  font-size: 10vw;
}

#loginText-1 {
  color: white; 
}


#loginText-2   {
  color: #F3D250;

}

#loginText2 {
  font-size: 3vw;
}

p#loginText2 {
  width: 40vw;
  position: absolute;
  bottom: 5vw;
  left: 15vw;
}